



#dive_imapct{
    width: 75%;
    height: 360px;
    border: 1px solid green;
    margin: auto;
    display: flex;

}
.left_impact{
    margin-top: 60px;
    width: 35%;
    height: 300px;
    border: 1px solid violet;
    margin-left: 30px;
    /* margin: auto; */

}
.left_impact > h2{
    font-size: 42px;
    font-weight: 300;
    margin-bottom: -20px;
    margin-left: 50px;
}
.left_impact > p{
    font-size: 20px;
    font-weight: inherit;
    margin-left: 50px;
}
.left_impact > h1{
    font-size: 40px;
    margin-left: 50px;
    /* font-weight: 500; */
}
.last_impact{
    width: 17%;
    height: 80px;
    /* border: 1px solid black; */
    margin: auto;
    position: absolute;
    top: 39%;
    left: 79%;
    /* background-color: #19ad59; */
    border-radius: 10px;
}
.last_impact img{
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    max-width: 100%;
    max-height: 100%;
    display: block;
   border-radius: 10px;
}
.galleryContainer{
    width: 58%;
    height: 320px;
    max-width: 1000px;
    margin-top: 60px;
    /* margin: auto; */
    /* user-select: none; */
    /* box-shadow: 0px 0px 3px 1px #00000078; */
    /* padding: 10px; */
    /* box-sizing: border-box; */
    background-color: #6C6CFF;
    border-radius: 14px;
}
.galleryContainer .slideShowContainer{
    width: 100%;
    height: 90%;
    /* overflow: hidden; */
    position: relative;
}
.galleryContainer .slideShowContainer .textHolder{
    
    width: 100%;
    height: 100%; 
    position: absolute;
    opacity: 0; 
   
}
.galleryContainer .slideShowContainer .textHolder p{
   
    color: white;
   font-size: 15px;
   font-weight: 100;
    text-align: left;
    margin-left: 30px;
    margin-top: 50px;
}
.galleryContainer .slideShowContainer .textHolder h5{
   
    font-size: 22px;
    font-weight: 100;
    color: white;
    text-align: left;
    margin-left: 30px;
}
.galleryContainer .slideShowContainer .textHolder img{
    width: 15%;
    margin-left: 30px;
}
.galleryContainer .slideShowContainer>.captionTextHolder{
    position: absolute; 
   overflow: hidden;
}
#dotsContainer{
    margin-left: 150px;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    /* padding-top: 10px; */
    /* box-sizing: border-box; */
    border: 1px solid red;
}
#dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #bbb;
    cursor: pointer;
    transition:background-color 0.5s;
}
#dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #bbb;
    cursor: pointer;
    transition:background-color 0.5s;
}
#dotsContainer .dots:first-child{
    margin-left: 0;
}
 #dotsContainer .dots:hover,#dotsContainer .dots.active{
    background-color: #6C6CFF;
}
.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}
.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}


.supporting_section{
    width: 94%;
    height: 465px;
    /* border: 1px solid red; */
    /* margin: auto; */
    margin-top: 100px;
    display: flex;
}
.support_image{
    width: 37%;
    height: 100%;
    /* border: 1px solid green; */
    margin: auto;
    margin-left: 30px;
}
.support_image img{
    width: 100%;
    margin-left: 50px;
    /* margin: 30px 0px 0px 30px; */
}
.supporting_right{
    width: 55%;
    height:460px;
    display: block;
    /* border: 1px solid blueviolet; */
    margin: auto;
}
.supporting_right_down{
    width: 94%;
    height: 200px;
    /* border: 1px solid green; */
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
}

.supporting_right_bold{
    margin-left: 20px;
    width: 90%;
    height: 180px;
    /* border: 1px solid red; */
}
.supporting_right_bold h2{
    font-size: 34px;
    color: rgb(37, 35, 32);
    font-weight: 500;
    margin-left: 30px;
    
}
.supporting_right_bold span{
    font-weight: 800;
    font-size: 45px;
}
.supporting_right_bold p{
    font-size: 25px;
    color: rgb(81, 80, 79);
    font-weight: 400;
    margin-left: 30px;
}
.div_down_function{
    width: 33%;
    height: 150px;
    /* border: 1px solid yellowgreen; */
    display: flex;
    margin: auto;
    margin-top: 50px;
}
.div_down_function_1{
width: 56px;
height: 80%;
/* border: 1px solid red; */
}
.div_down_function_2{
    width: 160px;
    height: 100%;
    /* border: 1px solid red; */
}
.div_down_function_1 img{
    width: 100%;
}
.div_down_function_2 h1{
    font-size: 37px;
    font-weight: 500;
  margin-top: -4px;
  margin-left: 8px;
}
.div_down_function_2 p{
  margin-top: -20px;
  margin-left: 8px;
  font-size: 22px;
  font-weight: 300;
}
.supporting_right_last_div{
    width: 500px;
    height: 50px;
    /* border: 1px solid black; */
    margin-left: 100px;
}
.supporting_section .supporting_right .supporting_right_last_div  a{
    margin-left: 50px;
    margin-top: 20px;

}
.supporting_right_last_div button{
    margin-left: 80px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    border: none;
    background-color: #6C6CFF;
    color: white;
    font-weight: 400;
    font-size: 15px;
    transition:  0.5s;
    cursor: pointer;
}

.award_winning{
    
    width: 70%;
    height: 180px;
    border: 1px solid blueviolet;
    margin: auto;
    margin-top: 70px;
    
}
.award_winning_star {
    width: 60%;
    height: 50px;
    /* border: 1px solid red; */
    margin-left: 400px;
   
}
.award_winning_star img{
    width: 40%;
    margin-left: 50px;
}

