#main-div{
    display: flex;
    justify-content: space-around; 
    /* box-shadow: 0px 10px 30px rgb(29 140 242 / 20%); */

}


#navbar
{
    display: flex;
    /* position: fixed; */
    width: 100%;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    z-index:2;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.logo>a>img{
    height: 45px;
    margin-left: 16px;
}

#first-div{
    display: grid;
    margin-top: 20px;  
    width: 30%;
    border:px solid red;
    /* box-shadow: 0px 10px 30px rgb(29 140 242 / 20%); */
}
form{
    border: px solid red;
    width: 85%;
    margin: auto;
    margin-top:15px;
   
}
#second-div{
    width: 70%;
    /* box-shadow: 0px 10px 30px rgb(29 140 242 / 20%); */
    color:gray;
    
}
label{
    font-size: 20px;
}
table{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border:1px solid red;
    border-radius: 100px;
    /* box-shadow: 0px 10px 30px rgb(29 140 242 / 20%); */
    color:grey;
}
table td,
table th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-transform:capitalize;
    color:gray;
    /* box-shadow: 0px 10px 30px rgb(29 140 242 / 20%); */
    text-decoration-color: rgb(44,44,44);
   
}


table:hover{
    /* background-color:rgb(120, 173, 146); */
 transform: scale(1.1);
}

table th{
    padding-top:12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #0468aa; */
    /* color: white; */
    text-align: center;
    font-weight: bolder;
   color:gray;
}
*{
    box-sizing: border-box;
   
   
}
input[type="text"],input[type="number"],input[type="date"],select,textarea{
    width: 100%;
    padding:8px;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 16px;
    resize: vertical;
}

#create_btn{
     background-color: #3973b6; 
    color:white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
}
h1{
    margin: auto;
    margin-top: 0px;
}