*{
    margin: 0;
    padding: 0;
    font-family:sofia-pro, Roboto, Helvetica, Arial, sans-serif;
}

#navbar
{
    display: flex;
    /* position: fixed; */
    width: 100%;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    z-index:2;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.logo>a>img{
    height: 45px;
    margin-left: 16px;
}

.filter-div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-and-details-wrapper{
    display: flex;
    /* position: absolute; */
    top: 0;
    column-gap: 20px;
}

.details-button{
    border: none;
    border-radius: 9999px;
    padding: 8px 16px 8px 16px;
    color: white;
    background-color: crimson;
    cursor: pointer;
    }

.employee-button{
    background-color: green;
    width: 30%;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    height:400px;
}

.details-wrapper{
    width: 70%;
}


.employee_div
{
    width: 30%;
    text-align: center;
    padding: 4px 8px 4px 8px;
    margin-top: 8px;
    display: grid;
}